// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header {
  background-color: #F8F8F8;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container {
  margin: 0 300px;
}

a {
  color: #235291;
  text-decoration: none;
  opacity: 0.7;
}

a:hover {
  opacity: 1;
}
